@model ChangePasswordVM
@{
    AppUser user = ViewBag.User;
}

<!-- head -->
<section class="section section--head">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6">
                <h1 class="section__title section__title--head">Change Password</h1>
            </div>

            <div class="col-12 col-xl-6">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a asp-action="index" asp-controller="home">Home</a></li>
                    <li class="breadcrumb__item breadcrumb__item--active">ChangePassword</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end head -->
<!-- profile -->
<div class="catalog catalog--page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="profile">
                    <div class="profile__user">
                        <div class="profile__avatar">
                            <img src="~/assets/img/avatar.svg" alt="">
                        </div>
                        <div class="profile__meta">
                            <span>FlixTV ID: @user.Id.Substring(0, 5)</span>
                        </div>
                        <a asp-action="profile" asp-controller="home" style="padding: 0 0 0 50px"
                           class="header__nav-link">Profile</a>

                        <a asp-action="favorite" asp-controller="home" style="padding: 0 0 0 50px"
                           class="header__nav-link">Favorites</a>

                        <a asp-action="detail" asp-controller="home" style="padding: 0 0 0 50px"
                           class="header__nav-link">Details</a>

                        <a asp-action="changepassword" asp-controller="home" style="padding: 0 0 0 50px"
                           class="header__nav-link">Change Password</a>
                    </div>

                    <!-- tabs nav -->
                    <div class="nav nav-tabs profile__tabs" id="profile__tabs" role="tablist">
                        <a></a>
                    </div>
                    <!-- end tabs nav -->

                    <a class="profile__logout" asp-action="logout" asp-controller="account">
                        <span>Sign out</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z"></path></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- content tabs -->
        <div class="tab-content">

            <div>
                <div class="row">
                    <div class="col-12">
                        <div class="sign__wrap">
                            <div class="row">
                                <!-- password form -->
                                <div class="col-12 col-lg-12">
                                    <form method="post" class="sign__form sign__form--profile">
                                        <div class="row">
                                            <div class="col-12">
                                                <h4 class="sign__title">Change password</h4>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                <div class="sign__group">
                                                    <label asp-for="OldPassword"
                                                           class="sign__label" for="oldpass">Old password</label>
                                                    <input asp-for="OldPassword"
                                                           id="oldpass" type="password" class="sign__input">
                                                    <span asp-validation-for="OldPassword" style="color:grey"></span>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                <div class="sign__group">
                                                    <label asp-for="NewPassword"
                                                           class="sign__label" for="newpass">New password</label>
                                                    <input asp-for="NewPassword"
                                                           id="newpass" type="password" class="sign__input">
                                                    <span asp-validation-for="NewPassword" style="color:gray"></span>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                <div class="sign__group">
                                                    <label asp-for="ConfirmNewPassword" class="sign__label"
                                                           for="confirmpass">Confirm new password</label>
                                                    <input asp-for="ConfirmNewPassword" id="confirmpass" type="password"
                                                           class="sign__input">
                                                    <span asp-validation-for="ConfirmNewPassword" style="color:gray"></span>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <button class="sign__btn" type="submit">Change</button>
                                                <div asp-validation-summary="ModelOnly" style="color:darkred"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- end password form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end content tabs -->
    </div>
</div>
<!-- end profile -->
