@model MovieUpdateDTO
@{
    List<MovieImage> movieImages = ViewBag.Images;
    List<MovieGenre> movieGenres = ViewBag.MovieGenres;
    Movie movie = ViewBag.Movie;
    Model.GenreIds = movieGenres.Where(mg => mg.MovieId == Model.Id).Select(x => x.GenreId).ToList();
}

<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Update movie</h2>

                    <a asp-action="index" asp-controller="movie" class="main__title-link">back</a>
                </div>
            </div>
            <!-- end main title -->
            <!-- form -->
            <div class="col-12">
                <form class="form" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12 col-md-5 form__cover">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div class="form__img">
                                        <label asp-for="CoverImage" for="form__img-upload">Upload cover (190 x 270)</label>
                                        <input asp-for="CoverImage" id="form__img-upload" type="file" accept=".png, .jpg, .jpeg">
                                        <span asp-validation-for="CoverImage" style="color: red"></span>
                                        <img id="form__img"
                                             src="~/uploads/movieImages/@movie.MovieImages.FirstOrDefault(x=> x.IsCover == true).ImageUrl" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-7 form__content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form__group">
                                        <input asp-for="Title" type="text" class="form__input" placeholder="Title">
                                        <span asp-validation-for="Title" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form__group">
                                        <textarea asp-for="Description" class="form__textarea" placeholder="Description"></textarea>
                                        <span asp-validation-for="Description" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <input asp-for="ReleaseYear" type="number" class="form__input" placeholder="Release year">
                                        <span asp-validation-for="ReleaseYear" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <input asp-for="MovieLong" class="form__input" placeholder="Running timed in minutes">
                                        <span asp-validation-for="MovieLong" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <input asp-for="AgeLimit" type="number" class="form__input" placeholder="Age">
                                        <span asp-validation-for="AgeLimit" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        <select asp-for="CountryId" class="js-example-basic-multiple" id="country" asp-items="@(new SelectList(ViewBag.Countires,"Id","Name"))"></select>
                                        <span asp-validation-for="CountryId" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        <select asp-for="GenreIds" class="js-example-basic-multiple" id="genre"
                                                multiple="multiple" asp-items="@(new SelectList(ViewBag.Genres,"Id","Name"))">
                                        </select>
                                        <span asp-validation-for="GenreIds" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form__gallery">
                                        <label asp-for="OtherImages" id="gallery1" for="form__gallery-upload">Upload photos</label>
                                        <input asp-for="OtherImages" data-name="#gallery1" id="form__gallery-upload" class="form__gallery-upload" type="file" accept=".png, .jpg, .jpeg" multiple>
                                    </div>
                                    <span asp-validation-for="OtherImages" style="color: red"></span>
                                </div>
                                <div class="col-12" style="display:flex ">
                                    @foreach (var img in movieImages?.Where(x => x.IsCover == false))
                                    {
                                        <div style="width:150px; margin:0 5px;margin-top:20px;position:relative;">
                                            <span class="delete-image-btn position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger fs-1 text-white" style="color: red;right:0;font-size:17px;top:-15px !important;cursor:pointer;padding: 0 0 0 145px;">x</span>
                                            <img style="max-width:100%;margin: 0px 0 15px 0px;" src="~/uploads/movieImages/@img.ImageUrl" />
                                            <input hidden name="ImageIds" value="@img.Id" />
                                        </div>
                                    }

                                </div>
                                <span asp-validation-for="ImageIds" style="color:red"></span>
                            </div>
                        </div>

                        <div class="col-12 row">
                            <div class="col-12 col-lg-6">
                                <div class="form__video">
                                    <label asp-for="FullVideo" id="movie1" for="form__fullVideo-upload">Upload video</label>
                                    <input asp-for="FullVideo" id="form__fullVideo-upload" class="form__video-upload" accept="video/mp4,video/x-msvideo,video/mpeg,video/3gpp">
                                </div>
                                <span asp-validation-for="FullVideo" style="color: red"></span>
                            </div>
                            <div>
                                <video controls id="full" style="block-size: 360px;">
                                    <!-- Video files -->
                                    <source src="~/uploads/movieVideos/@movie.MovieUrl" type="video/mp4" size="1080">
                                </video>
                            </div>
                        </div>
                        <div class="col-12 row">
                            <div class="col-12 col-lg-6">
                                <div class="form__video">
                                    <label asp-for="TrailerVideo" id="movie1" for="form__trailerVideo-upload">Upload trailer</label>
                                    <input asp-for="TrailerVideo" id="form__trailerVideo-upload" class="form__video-upload" accept="video/mp4,video/x-msvideo,video/mpeg,video/3gpp">
                                </div>
                                <span asp-validation-for="TrailerVideo" style="color: red"></span>
                            </div>
                            <div>
                                <video controls id="trailer" style="block-size: 360px;">
                                    <!-- Video files -->
                                    <source src="~/uploads/movieVideos/@movie.TrailerUrl" type="video/mp4" size="1080">
                                </video>
                            </div>
                        </div>


                        <div class="col-12 col-lg-1">
                            <div class="sign__group sign__group--checkbox">
                                <input asp-for="IsNewst" id="isNew" type="checkbox">
                                <label asp-for="IsNewst" for="isNew">New</label>
                            </div>
                        </div>

                        <div class="col-12 col-lg-1">
                            <div class="sign__group sign__group--checkbox">
                                <input asp-for="IsPopular" id="isPopular" type="checkbox">
                                <label asp-for="IsPopular" for="isPopular">Popular</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="form__btn">Update</button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- end form -->
        </div>
    </div>
</main>

<script>
    // one video in same time
    const video1 = document.getElementById('full');
    const video2 = document.getElementById('trailer');

    video1.addEventListener('play', function () {
        if (!video2.paused) {
            video2.pause();
        }
    });

    video2.addEventListener('play', function () {
        if (!video1.paused) {
            video1.pause();
        }
    });
    // delete image
    var btns = document.querySelectorAll(".delete-image-btn");

    btns.forEach(btn => {
        btn.addEventListener("click", function () {
            btn.parentElement.remove()
        })
    })


</script>
